body {
  background-color: #181818;
  line-height: 1.25;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.laatikko {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

#map {
  width: 100%;
  height: 100%;
}

.navbar-nav .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.bg-primary {
  background-color: #979797 !important;
}

.btn {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  background-color: #979797;
  border-color: #979797;
}

.navbar-nav .nav-link {
  color: #e7e7e7;
  font-size: 1.2em;
}

.nav-item .nav-link:hover {
  color: rgba(194, 191, 191, 0.712);
}

.bg-primary {
  background-color: #303030 !important;
}

.navbar-brand {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #303030;
  text-align:center;
  z-index: 9999;
}

p {
  padding: 9px;
  font-size: 0.8em;
  color: whitesmoke;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    position: relative;
    top: 5cm;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
  list-style-type: none;
}

label {
  color: whitesmoke;
  line-height: 2;
  padding: 10px;
  letter-spacing: 2px;
}

.btn-light {
  letter-spacing: 1.5px;
  border-radius: 10px;
  margin-left: 0.8cm;
  padding: 10px;
}

form  { display: table;      }

p     { display: table-row;  }

label { 
  display: table-cell; 
}

input { display: table-cell; }

@media only screen and (max-width: 425px) {
  form {
    width: 300px;
    border: none;
  }
}