body {
  background-color: #181818;
  line-height: 1.25;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #c0c0c0;
}

h1,
.kirppari {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 2em;
  padding: 8px;
  letter-spacing: 5px;
  text-shadow: 3px 3px #4c4b4e;
}

.kirppari {
  position: absolute;
  top: 25px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  max-width: 1110px;
}

.navbar-nav .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.bg-primary {
  background-color: #979797 !important;
}

.btn {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  background-color: #979797;
  border-color: #979797;
}

#map {
  float: right;
  width: 1300px;
  height: 720px;
}

.nav-item .nav-link {
  color: #e7e7e7;
  font-size: 1em;
}

.nav-item .nav-link:hover {
  color: rgba(194, 191, 191, 0.712);
}

.bg-primary {
  background-color: #303030 !important;
}

.navbar-brand {
  display: none;
}

@media only screen and (max-width: 768px) {
  h1,
  .kirppari,
  .container-fluid,
  .py-3 {
    display: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2;
    color: rgb(138, 138, 138);
  }
  .navbar-brand {
    display: inline;
    font-size: 1em;
    color: rgb(138, 138, 138) !important;
  }
  .nav-item .nav-link {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1280px) {
  #map {
    width: 1000px;
    height: 450px;
  }
}
